<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NYSL Home</title>
    
    <link rel="shortcut icon" sizes="128x128" href="img/nysl_icon128.png">
    <link rel="shortcut icon" sizes="196x196" href="img/nysl_icon196.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/app_icon76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/app_icon120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/app_icon152.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/nysl.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
  </head>

  <body>
    <div class="container" id="header">
      <div class="row bg-vo rounded-lg">
        <div class="col-2">
          <img class="img-fluid py-3 w-75" src="img/pelota.gif" alt="">
        </div>
        <div class="col-8 align-items-center my-auto">
          <h1 class="w-auto text-light text-center my-auto">NYSL</h1>
        </div>
        <div class="col-2 align-items-center my-auto mx-auto">
          <button v-if="visible" @click="back" class="btn btn-light"><i class="fa fa-long-arrow-left"></i></button>
        </div>
      </div>
    </div>

    <div v-if='visible' class="container my-2 px-0" id='gameList'>
      <div class="row align-items-center mx-0">
        <div class="col-12 px-0">
          <div class="accordion" id="acordeon">
            <div  v-for='month in months' class="card  bg-secondary">
              <div class="card-header border-bottom-0 mx-auto">
                <h3 class="mb-0">
                  <a v-bind:href=("#"+month.name) data-toggle="collapse" class="btn-lg btn-success">{{month.name}}</a>
                </h3>
              </div>
              <div v-bind:id=month.name class="collapse bg-light" data-parent="#acordeon">
                <div class="card-body">
                    <table class='table table-bordered table-hover'>
                        <tr v-for='game in month.games' @click="viewGame(game)">
                          <td>{{game.date}}</td>
                          <td>{{game.time}}</td>
                          <td>{{teams[game.team1 - 1].name +' vs '+teams[game.team2 - 1].name}}</td>
                          <td>{{locations[game.location].name}}</td>
                        </tr>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div v-if='visible' class="container my-2" id='gameDetail'>
      <div class="row align-items-center border border-dark bg-vc rounded-lg">
        <div class="col-5 align-items-center" align="center">
          <img class="img-fluid my-1 w-25" v-bind:src=("img/escudo"+team1Id+".png") alt="" height=80% width=60%>
          <h5 class="my-2">{{team1Name}}</h5>
        </div>
        <div class="col-2" align="center">
        <h2>VS</h2>
        </div>
        <div class="col-5 align-items-center" align="center">
          <img class="img-fluid my-1 w-25" v-bind:src=("img/escudo"+team2Id+".png") alt="" height=80% width=60%>
          <h5 class="my-2">{{team2Name}}</h5>
        </div>
      </div>
      <div class="row align-items-center border border-dark rounded-lg my-2 py-2">
        <h4 class="d-block mx-auto my-1 w-100 text-center">{{date+" - "+time}}</h4><br>
        <h5 class="d-block mx-auto my-1 w-100 text-center font-weight-bold">{{site}}</h5>
        <h6 class="d-block mx-auto my-1 w-100 text-center">{{domicile}}</h6>
      </div>
      <div class="row align-items-center border border-dark rounded-lg py-2">
        <iframe class="mx-auto" v-bind:src=map width="400" height="300" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="scripts/data.js"></script>
    <script src="scripts/nysl.js"></script>

  </body>
</html>